{
  "env": {
    "es2018": {
      "plugins": [
        "@babel/plugin-syntax-object-rest-spread"
      ]
    },
    "es2015": {
      "presets": ["@babel/env"]
    },
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
